{% extends 'base.html' %}
<title>{% block title %}{% endblock %}</title>

{% block content %}

    <div class="container">
        <div class="row">
            <h1 class="logo_font">Zaza bar </h1>
            {% for msg in get_flashed_messages() %}
                <p id="flashed-msg" class="flashed-msg">{{ msg }}</p>
            {% endfor %}
            <form action="/login" , method="POST">
                <div class="user-box">
                    <input type="text" name="username" id="username" placeholder="Please enter a name"
                           autocomplete="off"
                           required>
                </div>
                <br/>
                <button class="w-100 btn btn-lg btn-primary" type="submit">BOOK A TABLE</button>
            </form>
        </div>
    </div>


{% endblock %}
